---
layout: default
---
<!-- One -->
<section id="one">
  <header class="major">
    <h1>Welcome to Our Charity Organization</h1>
  </header>
  <p>{{ site.description }}</p>
  <p><strong>We warmly encourage you to learn more about us!</strong></p>
  <ul class="actions">
    <li><a href="#featured" class="button scrolly">Our initiatives</a></li>
    <li><a href="{{ site.baseurl }}/donate/" class="button">Donate today</a></li>
  </ul>
</section>

<!-- Two -->
<section id="featured">
  <h2>Volunteer Areas</h2>
  <p>Explore our motives by clicking on each image below:</p>
  <div class="row">
      {% for each in site.featured-cards %}
        <article class="6u 12u$(xsmall) work-item">
          <a href="{{ site.baseurl }}/featured-cards/{{ each.card_id }}.html" class="image fit thumb" data-poptrox="ajax,600x400"><img src="{{ site.baseurl }}/assets/images/featured-cards/{{ each.card_id }}.jpg" alt="" /></a>
          <h3>{{ each.project_title }}</h3>
          {% if each.cost_to_support %}
            <h5>Cost to support: {{ each.cost_to_support }}</h5>
          {% endif %}
          <p>{{ each.project_summary }}</p>
        </article>
      {% endfor %}
  </div>
  <h4><strong>Ready to make a difference?</strong></h4>
  <ul class="actions">
    <li><a href="{{ site.baseurl }}/mission/" class="button">Learn more about our mission</a></li>
    <li><a href="{{ site.baseurl }}/donate/" class="button">Donate today</a></li>
  </ul>
</section>

<p style="font-size: x-small; text-align: center;">
Website design and inspiration attributed to <a href="https://html5up.net/" target="_blank">HTML5UP</a> and <a href="https://smartergiving.org/" target="_blank">Smarter Giving</a>.
</p>