<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == '/' %} class="active" {% endif %}>Home</a></li>
    <!-- Mission -->
    <li><a href="{{ site.baseurl }}/mission/" {% if page.url == '/mission/' %} class="active" {% endif %}>Mission</a></li>
    <!-- About -->
    <li><a href="{{ site.baseurl }}/about/" {% if page.url == '/about/' %} class="active" {% endif %}>About</a></li>
    <!-- Grantees -->
    <li><a href="{{ site.baseurl }}/grantees/" {% if page.url == '/grantees/' %} class="active" {% endif %}>Grantees</a></li>
    <!-- Donate -->
    <li><a href="{{ site.baseurl }}/donate/" {% if page.url == '/donate/' %} class="active" {% endif %}>Donate</a></li>
    <!-- Contact -->
    <li><a href="{{ site.baseurl }}/contact/" {% if page.url == '/contact/' %} class="active" {% endif %}>Contact</a></li>
  </ul>
</nav>
